body{
    color:black;
    
    
}
.container{
    max-width: 500px;
    margin: 0 auto;
    background-color:rgba(255, 166, 0, 0.575) ;
}
li{
    list-style: none;
    
}
img{
    max-width: 50%;
    max-height: 50%;
    margin:10px 110px;
    

    
}
.name{
    font-size: large;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
}
.day{
    font-size: medium;
    text-transform: uppercase;
    padding: 5px;
    margin: 0;
    text-align: center;
}

.track{
    font-size: large;
    text-transform: uppercase;
    padding: 5px;
    text-align: center;
}
a{
    font-size: large;
    text-transform: capitalize;
    padding: 5px;
    margin: 0 180px;
    text-align: center;
    text-decoration: none;
    color:rgb(55, 0, 255);
}