body{
    color:white;
    
    
}
.container{
    max-width: 500px;
    margin: 0 auto;
    background-color:purple ;
}
li{
    list-style: none;
    
}
img{
   width: 200px;
    display: block;
    margin: 0 auto;
    

    
}
#slackUserName{
    font-size: large;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
}
.currentDayOfTheWeek{
    font-size: medium;
    text-transform: uppercase;
    padding: 5px;
    margin: 0;
    text-align: center;
}

.myTrack{
    font-size: large;
    text-transform: uppercase;
    padding: 5px;
    text-align: center;
}
a{
    font-size: medium;
    text-transform: capitalize;
    display: block;
    margin: 0 auto;
    padding: 5px;
    text-decoration: none;
    color:green;
    text-align: center;
}